/*Form Section*/

label {
    display: inline-block;
    margin-bottom: 1rem;
}

.textInput {
    display: block;
    width: 100%;
    padding: 0.5rem;
    color: black;
}

section {
    margin-bottom: 3rem;
}

.formSection {
    margin-bottom: 2rem;
}

.formMateria {
    margin: 0 auto;
    max-width: 60vw;
    background-color: #313635;
    padding: 3rem;
    border-radius: 16px;
}

.formRow {
    margin-bottom: 2rem;
}

.submitBtn {
    padding: 0.6rem 1.2rem;
}
