/*Form Section*/

label {
    display: inline-block;
    margin-bottom: 1rem;
}

.textInput {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-card);
    color: var(--primary-text);
    border: none;
    border-radius: 10px;
}

section {
    margin-bottom: 3rem;
}

.formSection {
    margin-bottom: 2rem;
}

.formMateria {
    margin: 0 auto;
    max-width: 60vw;
    padding: 3rem;
    border-radius: 16px;
}

.formRow {
    margin-bottom: 2rem;
}

.submitBtn {
    padding: 1rem 1.2rem;
    background-color: var(--accent);
    border-radius: 8px;
    border: none;
    color: white;
}

.submitBtn:hover {
    background-color: #148560;
}
