:root {
    --color-fondo: #0f1715;
    --bg-card: #2f3130;
    --accent: #109a6c;
    --primary-text: #f0fdf4;
    --secondary-text: #9ca3af;
    --borders: #588371;
}

html {
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  background-color: var(--color-fondo);
}

button {
    cursor: pointer;
    color: black;
}

h1 {
    color: var(--primary-text);
}

section {
    min-height: 75vh;
}

/*Main section*/

main {
    margin: 0 auto;
    max-width: 1200px;
}

h1, .flexContainer, .navLink, .center, .skillsContainer {
    display: flex;
    justify-content: center;
}   

/*Skills section*/

.skillsContainer {
    gap: 4rem;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
}

.skillCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px var(--borders);
    border-radius: 4px;
    padding: 1rem 3rem;
}

.skillCard:hover {
    background-color: var(--bg-card);
}

.skillCard > img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.skillCard > div {
    display: flex;
    justify-content: center;
}

/*Seccion de proyectos*/

.projectsContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.projectCard {
    width: min-content;
    background-color: var(--bg-card);
    border: 1px solid var(--borders);
    border-radius: 12px;
}

.projectCard > h2 {
    text-align: center;
}

.projectImg {
    width: 100%;
    height: 160px;
    object-fit: contain;
    display: block;
    background-color: white;
}