:root {
    --color-fondo: #0f1715;
    --bg-card: #2f3130;
    --accent: #109a6c;
    --primary-text: #f0fdf4;
    --secondary-text: #9ca3af;
    --borders: #588371;
}

html {
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  background-color: var(--color-fondo);
}

button {
    cursor: pointer;
    color: black;
}

h1 {
    color: var(--primary-text);
}

section {
    min-height: 75vh;
}

/*Main section*/

main {
    margin: 0 auto;
    max-width: 1200px;
}

h1, .flexContainer, .navLink, .center, .skillsContainer, h2 {
    display: flex;
    justify-content: center;
}   

.skillsContainer, .projectsContainer, .centeredContainer {
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
}

/*Skills section*/

.skillsContainer {
    gap: 4rem;
}

.skillCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px var(--borders);
    border-radius: 4px;
    padding: 1rem 3rem;
}

.skillCard:hover {
    background-color: var(--bg-card);
}

.skillCard > img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.skillCard > div {
    display: flex;
    justify-content: center;
}

/*Sobre Mi*/

#sobreMi {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sobreMi > div:last-child {
    max-width: 500px;
}

.pfp {
    width: 300px; 
}