:root {
    --color-fondo: #0f1715;
    --bg-card: #25312d;
    --accent: #10b981;
    --primary-text: #f0fdf4;
    --secondary-text: #9ca3af;
    --borders: #253830;
}

html {
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  margin: 0;
  background-color: var(--color-fondo);
}

button {
    cursor: pointer;
    color: black;
}

h1 {
    color: var(--texto-primario);
}

section {
    height: 75vh;
}

/*Main section*/

main {
    margin: 0 auto;
    max-width: 1300px;
}

h1, .flexContainer,.submitBtnDiv, .navLink, .center, .skillsContainer {
    display: flex;
    justify-content: center;
}   

/*Skills section*/

.skillsContainer {
    gap: 4rem;
    flex-wrap: wrap;
}

.skillCard {
    border: solid 3px #17c82a;
    border-radius: 4px;
    padding: 1rem 3rem;
}

.skillCard:hover {
    background-color: var(--bg-card);
}

.skillCard > img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.skillCard > div {
    display: flex;
    justify-content: center;
}

/*Progress section*/
table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid white;
    padding: 0.5rem 1rem;
}

td {
    text-align: center;
}

