/*Nav section*/

nav {
    background-color: var(--accent);
    position: sticky;
    top: 0px;
}

.navLink {
    padding: 1rem;
    border: none;
    background: none;
    text-decoration: none;
    flex: 1;
}

.navLink:hover {
    background-color: #148560;
}
