/*Progress section*/

#progreso, #habilidades, #proyectos {
    display: flex;
    flex-direction: column;
}

.centeredContainer {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: var(--bg-card);
    margin-bottom: 2rem;
}

th, td {
    border: 2px solid var(--borders);
    padding: 0.75rem 1.25rem;
}

td {
    text-align: center;
}

.estado-Finalizada {
    background-color: rgba(16, 185, 129, 0.3);
    color: #34d399;
    font-weight: 500;
}

.estado-Regularizada {
    background-color: rgba(56, 189, 248, 0.3);
    color: #7dd3fc;
    font-weight: 500;
}

.estado-Pendiente {
    background-color: rgba(245, 158, 11, 0.3);
    color: #fbbf24;
    font-weight: 500;
}

.actionBtn {
    text-decoration: none;
    padding: 5px 5px;
}

.edit {
    background-color: #438ac8;
    margin-right: 1rem;
    border-radius: 8px;
}

.edit:hover {
    background-color: #1e5b92;
}

.delete {
    background-color: #dc3a3a;
}

.delete:hover {
    background-color: #9f3838;
}

.add {
    background-color: var(--accent);
}

.add:hover {
    background-color: #148560;
}

/*Panel funcionalidades*/

.panelFunciones {
    display: flex;
}

.panelFunciones > button {
    border: none;
}

.panelFunciones > * {
    padding: 1rem;
}